@import 'theme';
@import '~@mdi/font/css/materialdesignicons.min.css';
@import 'worker';

html,
body {
    min-height: 100%;
    margin: 0!important;
}

html {
    //background: #F8F8FF;
    //background: linear-gradient(365deg, #f9f5fa, #efe4f2);
}

[v-cloak] > * { display:none }

.screen-lock {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    &.lock {
        z-index: 100;
    }

}
