@import "base";

@import 'login';


.container {
    &.app {
        border-radius: 8px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.75);

        @include touch {
            margin-top: 0;
            box-shadow: none;
        }
    }
}

header {
    .navbar {
        border-top-right-radius: $main-border-radius;
        border-top-left-radius: $main-border-radius;
        background: $primary;
        @include touch {
            border-radius: 0;
        }

        .navbar-brand,
        .logo {
            border-top-left-radius: $main-border-radius;
            @include touch {
                border-radius: 0;
            }
        }

        .navbar-brand {
            position: relative;

            .logo {
                width: 80px;
                background: $primary-dark;
                height: 100%;
                font-weight: 800;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
                border-right: 1px solid darken($primary, 2.5%);
                border-bottom: 15px solid $secondary;

                a {
                    color: white;
                }

                @include touch {
                    background: $primary-dark;
                    line-height: 47px;
                    width: 80px;
                    border-bottom: 7px solid $secondary;
                }
            }

            @include touch {
                width: auto;
                background: transparent;
            }

            .navbar-burger {
                color: white;
            }
        }

        .navbar-menu:not(.is-active) {
            a.route {
                display: block;
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                text-align: center;

                border-right: 1px solid darken($primary, 2.5%);
                &:first-child {
                    border-left: 1px solid darken($primary, 2.5%);
                }
                i {
                    width: 100%;
                    display: block;
                    font-size: 30px;
                    color: $secondary;
                }

                &.is-active:not(:focus):not(:hover),
                &.is-active,
                &:hover {
                    background: $light;
                    cursor:pointer;
                    color: $primary;
                    i {
                        color: $primary;
                    }
                }
            }
            .navbar-end {
                .profile {
                    border: none;
                    font-weight: bold;
                    a {
                        color: white;
                        &.is-active:not(:focus):not(:hover),
                        &.is-active,
                        &:hover {
                            border-top-right-radius: $main-border-radius;
                            background: $light;
                            color: $primary;
                        }
                    }
                    .has-link {
                        a {
                            color: $primary;

                            &.is-active:not(:focus):not(:hover),
                            &.is-active,
                            &:hover {
                                border-radius: 0;
                                background: $light-grey;
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    background: white;
    padding-bottom: 50px;
    @include touch {
        padding-bottom: 20px;
    }
}
.breadcrumb {
    @include touch {
        font-size: 12px;
        margin-bottom: 0.5rem!important;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $grey;
    }
}

section {
    &.main {
        padding: 1rem 1.5rem;
        @include touch {
            padding: 1rem;
        }
    }
}

.button {
    &.is-light {
        color: white;
    }
}

.divider {
    border-top: 2px solid #eee;
    width: 100%;
    margin: 25px 0;
}

.chartjs-render-monitor {
    height: 150px;
}


footer {
    background-color: $light-grey;
    border-bottom-right-radius: $main-border-radius;
    border-bottom-left-radius: $main-border-radius;
    @include touch {
        border-radius: 0;
    }
}
