@import "base";
@import "login";

.progress-wrapper {
    margin-bottom: 0.5rem;
    progress {
        border-radius: 2px;
    }
}
.container {
    &.app {
        margin-top: 80px;
        @include touch {
            margin-top: 50px;
            box-shadow: none;
        }
    }
}
.has-margin-top {
    margin-top: 2em;
}
.pre-formatted {
    white-space: pre-wrap;
}

.panel {
    .todo {
        padding: 0.75rem;
        border-bottom: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        margin: 0;
    }
}
.control {
    &.is-fullwidth {
        input.input {
            min-width: 100%!important;
        }
    }
}

header {
    .navbar {
        background: $primary;
        border-bottom: 2px solid $primary;
        @include touch {
            border-radius: 0;
        }


        .navbar-brand {
            background: $primary-dark;
            .navbar-item {
                &.logo {
                    padding: 0 35px;
                    a {
                        color: white;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
            }
            @include touch {
                background: $primary;
            }

            .navbar-burger {
                color: white;
            }
        }

        .navbar-menu:not(.is-active) {
            a.route {
                display: block;
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                text-align: center;

                border-right: 1px solid darken($primary, 2.5%);

                i {
                    width: 100%;
                    display: block;
                    font-size: 30px;
                    color: white;
                }

                &.is-active:not(:focus):not(:hover),
                &.is-active,
                &:hover {
                    background: $light;
                    cursor:pointer;
                    color: $primary;
                    i {
                        color: $primary;
                    }
                }
            }
            .navbar-end {
                .profile {
                    border: none;
                    font-weight: bold;
                    a {
                        color: white;
                        &.is-active:not(:focus):not(:hover),
                        &.is-active,
                        &:hover {
                            background: $light;
                            color: $primary;
                        }
                    }
                    .has-link {
                        a {
                            color: $primary;

                            &.is-active:not(:focus):not(:hover),
                            &.is-active,
                            &:hover {
                                border-radius: 0;
                                background: $light-grey;
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    background: white;
    padding-bottom: 50px;
    @include touch {
        padding-bottom: 20px;
    }
}
.breadcrumb {
    @include touch {
        font-size: 12px;
        margin-bottom: 0.5rem!important;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $grey;
    }
}

section {
    &.main {
        padding: 1rem 1.5rem;
        @include touch {
            padding: 1rem;
        }
    }
}

.field {
    .label {
        font-weight: 500;
        font-size: 13px;
    }
}

.button {
    &.is-light {
        color: white;
    }
}

.divider {
    border-top: 1px solid $grey;
    width: 100%;
    margin: 25px 0;
}

.chartjs-render-monitor {
    height: 150px;
}

.consulting-form {
    .column {
        &.economy {
            padding: 0.75rem 2rem;
            //background: #f9f9f9;
            @include touch {
                padding: 0.75rem;
            }
        }
    }
}

ul.summary {
    margin:0;
    list-style-type: none;
    font-size: 13px;
    li {
        font-weight: 600;
        span {
            font-weight: normal;
            float: right;
        }
    }
}


.box {
    @include touch {
        box-shadow: none;
        padding: 0;
    }
}

.b-tabs {
    .tab-content {
        padding: 1rem 0px;
    }
}

.timer-button {
    &.active {
        i {
            animation:blinking 1.2s infinite;
        }

    }

}

.modal-card {
    header {
        background: $primary;
        color: white;
        text-align: center;
        .title,
        .subtitle {
            color: white;
        }
    }
}


//Debit modal
.is-debit-modal {
    .modal-card {
        min-height: 400px;
        .modal-card-body {
            .box {
                text-align: center;
                font-size: 15px;
                box-shadow: none;
                border: 1px solid $grey;
                @include touch {
                    padding: 1rem 0;
                }
                i {
                    display: block;
                    width: 100%;
                    font-size: 30px;
                }
                &.active {
                    border: 1px solid $success;
                }
            }

            .relation-type-input {
                border-radius: 8px;
                padding: 2rem;
                background: $light-grey;
            }
            .relation-types {
                margin-top: 2rem;
            }
            .debit-information {
            }
        }

        .modal-card-foot {
            justify-content: flex-end;
        }
    }
}

.autocomplete {
    .dropdown-item {
        span {
            display: block;
        }
        border-bottom: 1px solid $grey;
        &:last-child {
            border-bottom: none;
        }
    }
}

.tabs-table {

    .tabs {
        margin-bottom: 0;

    }
    .box {
        box-shadow: none;
        border-left: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-right: 1px solid $grey;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.debit-form {
    background: $light-grey;
    padding: 1rem;
    border-radius: 8px;
}


@keyframes blinking{
    0%{     opacity: 1; }
    49%{    opacity: 1; }
    60%{    opacity: 0; }
    99%{    opacity: 0; }
    100%{   opacity: 1; }
}

footer {
    background-color: $light-grey;
    border-bottom-right-radius: $main-border-radius;
    border-bottom-left-radius: $main-border-radius;
    @include touch {
        border-radius: 0;
    }
}
