
.worker, .worker:before {
    height: 5px;
    width: 100%;
    margin: 0;
}
.worker {
    background-color: $main-background;
    @include touch {
        background-color: transparent;
    }
    &.loading {
        display: -webkit-flex;
        display: flex;
    }
}
.worker:before {
    background-color: darken($primary, 2.5%);
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}


@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
